Iran: mamy wehikuł czasu
ja.gi. 11-04-2013, ostatnia aktualizacja 11-04-2013 18:47
Komentuj
13

    Share on facebook
    Share on wykop
    Share on twitter
    Share on blip
    Share on naszaklasa
    Share on google
    More Sharing Services
    29

    A
    A
    A

źródło: Bloomberg
+ Zobacz więcej zdjęć

Irański naukowiec zgłosił w teherańskim państwowym Centrum Wynalazków Strategicznych „Maszynę Podróży w Czasie Aryayek". Urząd zarejestrował patent 27-letniego Alego Razeghiego.

Jak z całą powagą twierdzi wynalazca (który mimo młodego wieku zarejestrował już 179 innych wynalazków i innowacji) jego urządzenie wykorzystuje skomplikowane algorytmy do „przewidywania przyszłych wydarzeń, nawet do ośmiu lat naprzód z dokładnością 98 proc." Prognozy z urządzenia wielkości komputera osobistego podawane są w formie drukowanej po zeskanowaniu dotyku użytkownika. Badania nad wynalazkiem zajęły badaczowi według jego własnych słów 10 lat.
