Iran: mamy wehikuł czasu


Irański naukowiec zgłosił w teherańskim państwowym Centrum Wynalazków Strategicznych
„Maszynę Podróży w Czasie Aryayek". Urząd zarejestrował patent 27-letniego Alego Razeghiego.

Jak z całą powagą twierdzi wynalazca 
(który mimo młodego wieku zarejestrował już 179 innych wynalazków i innowacji)
jego urządzenie wykorzystuje skomplikowane algorytmy
do „przewidywania przyszłych wydarzeń, nawet do ośmiu lat naprzód z dokładnością 98 proc." 
Prognozy z urządzenia wielkości komputera osobistego podawane są w formie drukowanej po zeskanowaniu dotyku użytkownika. Badania nad wynalazkiem zajęły badaczowi według jego własnych słów 10 lat.
